.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .rowContent {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
        }
    }
}