.timeContainer {
    width: 5rem;
    display: flex;
    justify-content: flex-end;
}

.radioInfoContainer {
    position: fixed;
    display: flex;
    align-items: center;
    left: 1rem;
    gap: 1rem;
}

.volumeControl {
    width: 10rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: left;
    right: 1rem;
    gap: 1rem;

    .slider {
        width: 100%;
    }
}