.timeContainer {
    width: 5rem;
    display: flex;
    justify-content: flex-end;
}

.radioInfoContainer {
    position: fixed;
    display: flex;
    align-items: center;
    left: 1rem;
    gap: 1rem;
}